{% extends "base.html" %}
{% block content %}
<section>
	<header>
		<img class="2x logo" src="{% static '/static/images/imago.png' %}" alt="imagotype" width="24px" height="54px"/>
	</header>

	<div class="main">
		<h1>Hi! I'm <span>Carlos Tallón</span>,<br>another stupid Graphic Designer<span class="highlight">*</span></h1>
		<ul>
			<li>
				<a class="mainaction" href="mailto:mail@carlostallon.com">Contact me</a>
			</li>
			<li>
				<a href="http://twitter.com/carlostallon">Follow me</a>
			</li>
		</ul>
	</div>

	<footer>
		<p><span class="highlight">*</span> I am stupidly enthusiastic about design. Since 2004 I have loved creating visual design for the web and seldomly for paper. I take care of the finest details. I love getting involved in information architecture and user experience. I'm passionate with logo design and also enjoy coding with standards. Now, I'm Head of Design at <a href="http://www.minijuegos.com/">Minijuegos</a>, one of the most important online games network and formerly worked as Visual Designer at <a href="http://www.tuenti.com/">Tuenti</a>, the largest social network in Spain.</p>
	</footer>
</section>
{% endblock content %}
